DB_URL=jdbc:mysql://localhost:3307/smart_agriculture?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=smart_agriculture
DB_PASSWORD=smart_agriculture
DB_POOL_MAX_SIZE=10
DB_POOL_MIN_IDLE=2
DB_MIGRATE=true
SERVER_PORT=8080
GIN_MODE=debug
